#Modulos
modulo1/node_modules/
modulo2/node_modules/
modulo3/node_modules/
modulo1/.env
modulo1/tests-examples/
modulo1/playwright-report/
modulo1/e2e/
modulo1/playwright.config.js/
modulo1/package-lock.json
modulo2/.env
modulo3/.env

# Playwright
playwright.config.js
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
