#Modulos
modulo1/node_modules/
modulo1/.env
modulo1/tests-examples/
modulo1/test-results/
modulo1/e2e/
modulo1/playwright-report/
modulo1/package-lock.json
modulo2/.env
modulo2/test-results/
modulo2/e2e/
modulo2/playwright-report/
modulo2/package-lock.json
modulo2/node_modules/
modulo2/tests/module2-visual.spec.js-snapshots/
modulo3/.env
modulo3/node_modules/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
